---
import { Image } from "astro:assets";
import SectionLayout from "@components/common/SectionLayout2.astro";
import Carbonara from "../../img/carbonara/carbonara.png";
import Wa from "../../img/intro/wa.png";
import Reservation from "../../img/intro/reservation.png";
---

<SectionLayout id="movie" addClass="!bg-[#000]" pattern="" description="">
  <div
    class="relative w-full h-full flex justify-center items-center md:max-w-screen-lg md:mx-auto md:px-4"
  >
    <video
      class="h-full relative -mt-12 scale-110"
      class="object-cover w-full"
      autoplay
      loop
      muted
      playsinline
    >
      <source
        src="/img/movie/movie2_av1.mp4"
        type="video/mp4; codecs=av01.0.08M.08"
      />
      <source src="/img/movie/movie2_h265.mp4" type="video/mp4; codecs=hvc1" />
      <source src="/img/movie/movie2.mp4" type="video/mp4" />
      お使いのブラウザは動画タグをサポートしていません。
    </video>
  </div>
</SectionLayout>
