@import "tailwindcss";
@theme {
  --color-agnigh: rgb(237, 124, 124);
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

body {
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.font-hina {
  font-family: "Hina Mincho", serif;
  font-feature-settings: "palt";
}
