---
import Layout from "@layouts/Layout.astro";
import data from "@data/data.json";

import Header from "@components/pc/Header.astro";
import Hero from "@components/pc/Hero.astro";
import Intro from "@components/pc/Intro.astro";
import Pasta from "@components/pc/Pasta.astro";
import RawPasta from "@components/pc/RawPasta.astro";
import Carbonara from "@components/pc/Carbonara.astro";
import Interlude from "@components/pc/Interlude.astro";
import Movie from "@components/pc/Movie.astro";
import Access from "@components/pc/Access.astro";
import Space from "@components/pc/Space.astro";
import Closing from "@components/pc/Closing.astro";
import Cta from "@components/pc/Cta.astro";
import SpMenu from "@components/pc/SpMenu.astro";
---

<Layout>
  <div
    class="hidden fixed top-0 left-0 bg-black text-white z-[9999] size-24"
    x-text="imagesLoaded"
  >
  </div>
  <div
    x-show="!loaded"
    class="fixed inset-0 flex items-center justify-center bg-amber-100 z-50"
  >
    <div
      class="w-12 h-12 border-4 border-amber-900/20 border-t-amber-900 rounded-full animate-spin"
    >
    </div>
  </div>
  <Cta />
  <button
    class="hidden z-40 absolute right-1 top-1 size-16 flex_ items-center justify-center p-3 md:hidden text-white duration-200 transition bg-transparent"
    x-on:click="showSPMenu=!showSPMenu"
  >
    <svg
      class="w-full h-full"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M4 6h16M4 12h16M4 18h16"
      >
      </path>
    </svg>
  </button>
  <div class="hidden_ md:block overflow-hidden w-full" x-show="loaded">
    <div
      id="snap"
      class="overflow-hidden w-full lg:block min-h-svh h-svh snap-mandatory snap-y overflow-y-scroll scroll-smooth flex flex-col items-start justify-start"
    >
      <Hero />
      <Intro />
      <Pasta />
      <RawPasta />
      <Carbonara />
      <Interlude />
      <Movie />
      <Access />
      <Space />
      <Closing />
      <Cta />
    </div>
    <div
      class="bg-white_ space-x-4_ h-18 md:hidden w-full fixed bottom-0 left-0 p-3 flex items-center z-50"
    >
      <a
        href={data.cta.url}
        target="_blank"
        class="h-14 leading-0 font-hina flex items-center justify-center bottom-0 left-0 font-bold bg-yellow-900 rounded-sm px-3 py-3 w-full text-white text-center text-lg"
      >
        予約する
      </a>
      <a href="#" class="flex-none ml-3 size-12">
        <img src="/img/common/phone.svg" alt=" " class="size-12" />
      </a>
    </div>
  </div>
</Layout>
