---

---

<div class="w-full px-4 md:hidden overflow-x-scroll">
  <div
    class="px-4 flex overflow-x-scroll max-w-full items-center hidden-scrollbar pb-4 justify-start overflow-x-scroll gap-4 hidden-scrollbar snap-start snap-mandatory snap-x snap-always"
  >
    <slot />
  </div>
</div>
