---
import "../styles/global.css";
import "@fontsource/hina-mincho";
---

<!doctype html>
<html lang="ja" class="scroll-smooth_">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>鎌倉パスタ春日井店</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"
    >
    </script>
  </head>
  <body
    x-data="{currentSection:'initial', visibleBody:false,showSPMenu:false,showHeader:false, loaded: false, imagesLoaded: 0, totalImages: 4}"
    x-intersect="visibleBody = true"
    x-intersect:leave="visibleBody = false"
  >
    <div class="hidden debugger fixed w-full text-4xl" x-text="currentSection">
    </div>
    <slot />
  </body>
</html>

<script is:inline>
  function sendGAEvent(action, currentSecttion) {
    console.log(currentSecttion);
  }
</script>
<script is:inline>
  function scrollHandler(refName) {
    return {
      next() {
        const container = this.$refs[refName];
        container.scrollBy({ left: window.innerWidth, behavior: "smooth" });
      },
      prev() {
        const container = this.$refs[refName];
        container.scrollBy({
          left: -window.innerWidth,
          behavior: "smooth"
        });
      }
    };
  }
</script>
